/* MIX */

.p_top_80 {
  padding-top: 80px;
}
.p_bottom_80 {
  padding-bottom: 80px;
}

.bg_green {
  background-color: #19bc9c;
}
.bg_light_blue {
  background-color: #2c3f50;
}
.m_top_30 {
  margin-top: 30px;
}

.wrapper_small {
  max-width: 800px;
  margin: auto;
}
.list-inline{
  font-size: 1.9rem;
}
#start{
    color: white;
    text-decoration: none;
}
.list-inline li a{
  color: white;
  text-decoration: none;

}
.list-inline li a:hover{
  text-decoration: none;
  color: green;
}

.header_left{
  font-size: 1.9rem;
}


/* HEADER */

/* header top */
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 70px;
  line-height: 70px;
  color: #fff;
}

/* jumbo */
.jumbo {
  margin-top: 70px;
  padding: 70px 0;
}

.jumbo_text {
  max-width: 900px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
}
.jumbo_text img{
  max-width:210px;
}
.jumbo_text h1{
  color: white;
  font-size: 8rem;
}

.jumbo_star{
  color: white;
  font-size: 30px;
}

.jumbo_star::before{
  content: "";
  display:inline-block;
  vertical-align: middle;
  height:3px;
  width:100px;
  background-color: white;
}

.jumbo_star::after{
  content: "";
  display:inline-block;
  vertical-align: middle;
  height:3px;
  width:100px;
  background-color: white;
}
.jumbo_text p{
  color: white;
  font-size: 2rem;
}

/* SECTIONS */

/* portfolio */
.porfolio_star{
  color: black;
  font-size: 30px;
  text-align: center;
}

.porfolio_star::before{
  content: "";
  display:inline-block;
  vertical-align: middle;
  height:3px;
  border-radius: 3px;
  width:100px;
  background-color: black;
}

.porfolio_star::after{
  content: "";
  display:inline-block;
  vertical-align: middle;
  height:3px;
  border-radius: 3px;
  width:100px;
  background-color: black;
}
.box_portfolio {
  position: relative;
  background-color: blue;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 188, 156, 0.9);
}

.box_portfolio:hover .overlay {
  display: block;
  cursor: pointer;
}

.overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 70px;
  font-weight: bold;
}
.box_portfolio img{
width:100%
}

/* about */
#about h2{
  color:white;
  font-size: 5rem;
  margin-bottom: 20px;
}

.dec_star {
  font-size: 35px;
  margin: 15px 0;
}
.dec_star i {
  margin: 0 5px;
  color: #fff;
}

.dec_star::before, .dec_star::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 100px;
  background-color: #fff;
  border-radius: 3px;
}
/* contact */
.dec_star_dark::before, .dec_star_dark::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 100px;
  background-color: black;
  border-radius: 3px;
}
.dec_star_dark {
  font-size: 35px;
  margin: 15px 0;
}
.dec_star_dark i {
  margin: 0 5px;
  color: black;
}


/* FOOTER */

.footer_bottom {
  background-color: blue;
  color: #fff;
  padding: 20px 0;
}
.footer_top h3{
color: white;
text-align: center;
}
.footer_top p{
color: white;
}
.footer_top ul li{
  display: inline;

}

.fa-facebook, .fa-twitter-square, .fa-linkedin-in, .fa-basketball-ball {
  font-size: 30px;
  color: white;
  padding: 0 10px;
  }



#start_bootstrap{
  color: green;
  font-size: 2rem;
}

.footer_bottom{
  background-color: black;
}
