/* MIX */

.p_top_80 {
  padding-top: 80px;
}
.p_bottom_80 {
  padding-bottom: 80px;
}

.bg_green {
  background-color: #19bc9c;
}
.bg_light_blue {
  background-color: #2c3f50;
}

.wrapper_small {
  max-width: 800px;
  margin: auto;
}
.list-inline{
  font-size: 1.9rem;
}

.header_left{
  font-size: 1.9rem;
}

/* HEADER */

/* header top */
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 70px;
  line-height: 70px;
  color: #fff;
}

/* jumbo */
.jumbo {
  margin-top: 70px;
  padding: 70px 0;
}

.jumbo_text {
  max-width: 900px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
}
.jumbo_text img{
  height: 200px;
}
.jumbo_text h1{
  color: white;
  font-size: 8rem;
}

.jumbo_star{
  color: white;
  font-size: 30px;
}
.jumbo_text p{
  color: white;
  font-size: 2rem;
}

/* SECTIONS */

/* portfolio */
.porfolio_star{
  color: black;
  font-size: 30px;
  text-align: center;
}
.box_portfolio {
  height: 250px;
  margin-bottom: 30px;
}
.box_portfolio img{
  height:200px;
}

/* about */
#about h2{
  color:white;
  font-size: 5rem
}

/* FOOTER */

.footer_bottom {
  background-color: blue;
  color: #fff;
  padding: 20px 0;
}
